<div class="container">
  <div class="row">
    <div class="col text-center">
      <img src="img/profile.png" alt="Handalkom" class="img-thumbnail rounded-circle" width="100px" />
      <h1 class="display-4">Handal Khomsyat</h1>
      <p class="lead">Learner</p>
    </div>
  </div>
</div>